<li *ngFor="let tweet of tweetList">
  <div class="avatar">
    <img src="{{ tweet.avatar }}">
    <div class="hover">
      <div class="icon-twitter"></div>
    </div>
  </div>
  <div class="bubble-container">
    <div class="bubble">
    <div *ngIf="tweet.handleRetweeted" class="retweet">
      <div class="icon-retweet"></div>
    </div>
      <h3>{{ tweet.handle }}</h3>

      <span *ngIf="tweet.handleRetweeted"> retweeted 
        <h3>{{ tweet.handleRetweeted }}</h3>
      </span>
      
      <br/>
    {{ tweet.content }}
      <div class="over-bubble">
        <div class="icon-mail-reply action"></div>
        <div class="icon-retweet action"></div>
        <div class="icon-star"></div>
      </div>
    </div>
    <div class="arrow"></div>
  </div>
</li>
